/.idea/.idea.TypingTrainerProject/.idea/.gitignore
/TypingTrainerProject/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/TypingTrainerProject/obj/Debug/net8.0/apphost.exe
/.idea/.idea.TypingTrainerProject/.idea/indexLayout.xml
/TypingTrainerProject/obj/project.assets.json
/TypingTrainerProject/obj/project.nuget.cache
/TypingTrainerProject/obj/project.packagespec.json
/TypingTrainerProject/obj/rider.project.model.nuget.info
/TypingTrainerProject/obj/rider.project.restore.info
/TypingTrainerProject/obj/Debug/net8.0/TypingTrainerProject.AssemblyInfo.cs
/TypingTrainerProject/obj/Debug/net8.0/TypingTrainerProject.AssemblyInfoInputs.cache
/TypingTrainerProject/obj/Debug/net8.0/TypingTrainerProject.assets.cache
/TypingTrainerProject/TypingTrainerProject.csproj
/TypingTrainerProject/obj/Debug/net8.0/TypingTrainerProject.csproj.CoreCompileInputs.cache
/TypingTrainerProject/obj/Debug/net8.0/TypingTrainerProject.csproj.FileListAbsolute.txt
/TypingTrainerProject/obj/TypingTrainerProject.csproj.nuget.dgspec.json
/TypingTrainerProject/obj/TypingTrainerProject.csproj.nuget.g.props
/TypingTrainerProject/obj/TypingTrainerProject.csproj.nuget.g.targets
/TypingTrainerProject/bin/Debug/net8.0/TypingTrainerProject.deps.json
/TypingTrainerProject/bin/Debug/net8.0/TypingTrainerProject.dll
/TypingTrainerProject/obj/Debug/net8.0/ref/TypingTrainerProject.dll
/TypingTrainerProject/obj/Debug/net8.0/refint/TypingTrainerProject.dll
/TypingTrainerProject/obj/Debug/net8.0/TypingTrainerProject.dll
/TypingTrainerProject/bin/Debug/net8.0/TypingTrainerProject.exe
/TypingTrainerProject/obj/Debug/net8.0/TypingTrainerProject.GeneratedMSBuildEditorConfig.editorconfig
/TypingTrainerProject/obj/Debug/net8.0/TypingTrainerProject.genruntimeconfig.cache
/TypingTrainerProject/obj/Debug/net8.0/TypingTrainerProject.GlobalUsings.g.cs
/TypingTrainerProject/bin/Debug/net8.0/TypingTrainerProject.pdb
/TypingTrainerProject/obj/Debug/net8.0/TypingTrainerProject.pdb
/TypingTrainerProject/bin/Debug/net8.0/TypingTrainerProject.runtimeconfig.json
/TypingTrainerProject.sln
/.idea/.idea.TypingTrainerProject/.idea/vcs.xml
